:root{
  --color-1: #A569BD ;
  --color-2: #FDFEFE ;
  --color-3: #6C3483
}

html,
body {
  background-image: url('../public/cine.avif');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 100%;
}


.App {
  text-align: center;
  color: var(--color-2);
  min-height: 100vh; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  background-color: var(--color-3);
  color: var(--color-2);
  border-radius: 5%;
}

button:hover {
  opacity: .5;
}

button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}